@page "/"
@using System.Text.Json;
@using HARbinger.App.Models;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="OpenFileAsync">Open File</button>

@code {
    public async void OpenFileAsync()
    {
        var customFileType = new FilePickerFileType(
                new Dictionary<DevicePlatform, IEnumerable<string>>
                    {
                    { DevicePlatform.iOS, new[] { "har" } }, // or general UTType values
                    { DevicePlatform.Android, new[] { "har" } },
                    { DevicePlatform.WinUI, new[] { "har" } },
                    { DevicePlatform.Tizen, new[] { "har" } },
                    { DevicePlatform.macOS, new[] { "har" } }, // or general UTType values
                    });

        PickOptions options = new()
            {
                PickerTitle = "Please select a comic file",
                FileTypes = customFileType,
            };

        var result = await FilePicker.Default.PickAsync(options);
        using(var fileStream = await result.OpenReadAsync())
        {
            using (StreamReader sr = new(fileStream))
            {
                var harFile = JsonSerializer.Deserialize<RootObject>(sr.ReadToEnd());
                var test = harFile.log;
            }
        }
    }

}
